# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Flask
instance/
.webassets-cache

# Environment variables
.env

# Cache
.cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db